<!-- 1. mobile
   - heading
   - image
   - media object
2. desktop
   - on low resolution laptop, user can't see ipad edge and disable horizontal scrolling
   700px base size for ipad image -->

   <section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
      <h2>User-Friendly Control Panel</h2>
    </header>

    <div class="container grid grid--1x2">
      <picture class="block-showcase__image">
        <img src="/images/ipad.png" alt="" />
      </picture>

      <div class="block-showcase__content">
        <ul class="list">
          <li>
            <!-- media 1 -->
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="/images/sprite.svg#growth"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title block__heading">
                  Easy Start & Managed Updates
                </h3>
                <p>
                  Our cloud plans include easy onboarding for new and existing
                  sites and managed WordPress and WooCommerce auto-updates.
                </p>
              </div>
            </div>
          </li>
          <li>
            <!-- media 2 -->
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="/images/sprite.svg#growth"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title block__heading">
                  Easy Start & Managed Updates
                </h3>
                <p>
                  Our cloud plans include easy onboarding for new and existing
                  sites and managed WordPress and WooCommerce auto-updates.
                </p>
              </div>
            </div>
          </li>
          <li>
            <!-- media 3 -->
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="/images/sprite.svg#wordpress"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title block__heading">
                  Easy Start & Managed Updates
                </h3>
                <p>
                  Our cloud plans include easy onboarding for new and existing
                  sites and managed WordPress and WooCommerce auto-updates.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>