<!-- for normal block we can apply container to block div to set the max width
for the skewed we need to wrap the block with container div or it will have space -->
<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">
            Heading
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolores ab earum et saepe corporis voluptates aut fugit ullam voluptas!</p>
    </header>
</section>
<div class="container">
    <section class="block block--dark block--skewed-left">
        <h2 class="block__heading">
            Heading
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolores ab earum et saepe corporis voluptates aut fugit ullam voluptas!</p>
    
    </section>
</div>
