<!-- 1. round corner
2. header - different color
3. body - shadow around -->
<div style="width:30%; padding:4rem;">
    <div class="card card--primary">
        <header class="card__header">
            Card Title
        </header>
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, nemo.
        </div>
    </div>
</div>
<div style="width:30%; padding:4rem;">
    <div class="card card--secondary">
        <header class="card__header">
            Card Title
        </header>
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, nemo.
        </div>
    </div>
</div>