<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae animi saepe magnam aliquam! Quis, aut
        nesciunt! Dolore illo quae, veritatis amet est doloribus ratione enim saepe delectus incidunt esse placeat
        laudantium reiciendis quaerat ea sit voluptatum alias. Autem, reiciendis. Incidunt aliquid ab distinctio ex
        similitude eum consectetur sit eius alias.</p>
        <footer>
            <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary quote__line">
                        <use xlink:href="/images/sprite.svg#line"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title quote__author">
                        Vicki Chen
                    </h3>
                    <p class="quote__author__description">IT Graduate</p>
                </div>
            </div>
        </footer>
</blockquote>